/* materialize.css add display: none to selects, this is a temp solution */
select {
    display: block;
}

header {
    min-height: 500px;
}

nav .active {
    background-color: #00796b;
}


.desc-logo {
    margin-right: 2rem;
}

.requestCreationForm {
   
    margin-left: auto;
  margin-right: auto;
}

.requestCreationForm input#clientId {
    
}

.eachRow {
    width: 100%;
    margin-bottom: 0px;
}